@font-face {
  font-family: 'fb';
  src: url("../fonts/fb-regular-webfont.eot");
  src: url("../fonts/fb-regular-webfont.eot?iefix") format("eot"), url("../fonts/fb-regular-webfont.ttf") format("ttf"), url("../fonts/fb-regular-webfont.woff") format("woff"), url("../fonts/fb-regular-webfont.svg#webfontXqjqfm2I") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'fb';
}

#g1-primary-bar #g1-primary-nav {
	float: left;
}
#g1-secondary-nav-menu > li {
  float: right;
  margin-left: 1.25em;
  margin-right: auto;
}

.g1-font-regular-s .g1-meta {
  font-size: 16px;
}

#searchform .g1-form-actions,
#searchsubmit {
  right: auto;
  left: 0;
}

#g1-secondary-nav-menu li.tel-link .fa,
#g1-secondary-nav-menu li.mail-link .fa {
  float: left;
  margin-right: 10px;
  background-color: #7acef4;
  border-radius: 50%;
  color: #315262;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
}
#g1-secondary-nav-menu li.tel-link a,
#g1-secondary-nav-menu li.mail-link a {
  line-height: 28px;
}

@media only screen and (min-width: 1025px) {
  #g1-primary-nav-menu > .menu-item {
    float: right;
    margin-left: 23px;
  }
  #g1-primary-nav-menu > .menu-item:last-child {
    margin-left: 0;
  }

  #g1-primary-nav-menu > .menu-item > a {
    padding-right: 0;
  }
}

.g1-grid > .g1-column {
  margin-left: auto;
  margin-right: 2.89256198%;
}

.g1-grid > .g1-column:first-child {
  margin-left: auto;
  margin-right: 0;
}

@media only screen and (max-width: 1024px) {
	#g1-primary-bar #g1-id, #g1-primary-bar #g1-id .site-title, #g1-primary-bar #g1-id .site-description {
		float: right;
	}
	#g1-primary-nav {
	    margin-left: 100px;
	}
	#g1-primary-nav {
	    position: relative;
	    top: 30px;
	}
}
@media (max-width: 768px) {
	#g1-primary-nav-switch:before, #g1-primary-nav-switch:after {
	    left: 15px;
	    margin-left: -15px;
	    right: auto;
	}
}
@media (max-width: 620px) {
	#g1-primary-bar #g1-primary-nav {
		float: none;
	}
	.g1-header #g1-primary-nav-switch {
		width: 32px;
		text-indent: -999px;
		overflow: hidden;
	}
	.g1-primary-nav--expanded #g1-primary-nav-switch:after {
		left: 50%;
	}
	#g1-primary-nav {
		margin-left: 0;
		top: 0;
	}
	#g1-primary-slider {
		display: none !important;
	}
	#g1-header-waypoint {
		height: auto !important;
	}
	.home .entry-content iframe {
		max-height: 120px;
	}
}